.fullPageBody{
    padding-left: 10%;
    padding-right: 10%;
}

#commentsDiv{
    text-align: center;
    margin: 25px auto;
    font-weight: bold;
    background: #333333;
    padding: 15px 30px;
    /*width: 600px;*/


}
