#mainDivDetails{
    /*background: gray;*/
    text-align: left;
    font-size: 11px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


#leftDetails{
    padding: 10px;
    display: block;
    color: gold;
    float: left;
}
#rightDetails{
    padding: 10px;
    display: block;
    text-align: left;
}
