
#mainDiv {
    margin: auto;
    padding: 15px;
    width: 85%;
    text-align: left;
    min-height: 197px;
    /*background: red;*/
    margin-left: 25px;
    background: rgba(255, 255, 0, 0.29);


}

#poster {
    display: block;
    margin-right: 10%;
    height: 197px;
    width: 150px;
    padding: 1px;


    float: left;
    background: silver;

    /*background-image1: url("https://ssl-gfx.filmweb.pl/po/08/62/862/7517878.3.jpg");*/

}

#title {

    font-size: 30px;
    color: black;
    font-weight: bold;
}

#engTitle {
    font-size: 15px;
    color: rgba(60, 7, 4, 0.85);
}

#year {

    font-size: 20px;
    vertical-align: super;
}

#duration {
    font-size: 10px;
}

#description {

    padding: 10px;
    font-size: 15px;
    line-height: normal;
}

#prawy{
/*background: blue;*/
    width: 80%;
    /*height: 150px;*/


}
#lewy{
/*background: #222;*/
    /*height: 150px;*/
    float: right;
    width: 20%;
}

#likeStar{
    text-align: center;
    background: #45a340;
    margin: auto;
    width: 50%;
    border-radius: 25px;
    padding: 5px;
}
#likeStar:hover{
    text-align: center;
    background: red;
    margin: auto;
    width: 50%;
}
#unlikeStar{
    text-align: center;
    background: red;
    margin: auto;
    width: 50%;
    border-radius: 25px;
    padding: 5px;
}
#unlikeStar:hover{

    text-align: center;
    background: #45a340;
    margin: auto;
    width: 50%;
}