
#mainDiv {
    margin: auto;
    padding: 25px;
    width: 95%;
    text-align: left;
    min-height: 197px;


}

#poster {
    display: block;
    margin-right: 10%;
    height: 197px;
    width: 150px;
    padding: 1px;


    float: left;
    background: silver;

    /*background-image: url("https://ssl-gfx.filmweb.pl/po/08/62/862/7517878.3.jpg");*/

}

#title {

    font-size: 30px;
    color: black;
    font-weight: bold;
}

#engTitle {
    font-size: 15px;
    color: rgba(60, 7, 4, 0.85);
}

#year {

    font-size: 20px;
    vertical-align: super;
}

#duration {
    font-size: 10px;
}

#description {

    padding: 10px;
    font-size: 15px;
    line-height: normal;
}