#body{
    margin-top: 50px;
}
.lewyDivTest{
    float: left;
    background: white;
    border-radius: 25px;
}
.ostatniWLini{
    float: left;
    margin-left: 50px;
}

.settingsSize{

    margin: 1%;
    text-align: center;
    /*height: 50px;*/
    width: 31%;
    /*background:#333;*/
    /*background-color: red;*/
}
#centerSettings{
    display: block;
    /*background-color: #fff;*/
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.formSettings{
    /*background-color: red;*/
    /*border: black solid;*/
}

.formSettingsItem{
    margin: 5px;
}
#borderRadius{
    border-radius: 25px;
}