:root{

    --fontColor: red;
    color: var(--fontColor);

    -green-light:#54c24f;
    -green-base: #45a340;
    -green-shadow: rgba(65, 133, 60, 0.78);

    -blue-light:#2864ff;
    -blue-base: #2251c2;
    -blue-shadow: rgba(34, 81, 194, 0.78);

    -color-cancel-base: #ff3b35;
    -color-cancel-hover: #e1322d;
    -color-cancel-shadow:rgba(194, 46, 41, 0.78);

    -orange-light: #ef8901;
    -orange-base: #e1713b;
    -orange-shadow: rgba(194, 95, 54, 0.78);

    -third-backgound:#666;
    -first-backgound:#333;
    -second-backgound:#222;
    -focused-backgound:#a1a1a1;

}


body {
    background: lightgray;

    /*padding-top: 100px;*/

}

#content {

    background: gray;
    width: 75%;
    min-height: 800px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    min-width: 660px;

}

.element_Renderowany {
    min-height: 100px;
    padding: 20px 20px 20px;
    background: rgba(64, 64, 64, 0.98);
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;

}

/*.element_Renderowany {*/
/*    display: block;*/
/*    padding: 10px 50px;*/
/*    background: #333;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 5px;*/
/*    border-radius: 10px;*/
/*}*/